* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
}

.search-box {
  width: fit-content;
  margin: auto;
}

.result-card {
  width: 180px;
  height: 300px;
  font-size: 11px;
  justify-content: center;
}

.page-list {
  text-align: center;
}

.page-list > a {
  margin: 5px;
}