.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  margin: auto;
}

.title {
  text-align: center;
}

.background {
  display: grid;
  grid-template-columns: repeat(16, 25px);
  margin: auto;
}

.backBlock {
  background-color: darkgoldenrod;
  border: 1px solid black;
  width: 25px;
  height: 23px;
}

.board {
  display: grid;
  grid-template-columns: repeat(15, 25px);
  margin: auto;
  position: absolute;
  top: 101px;
  left: 453px
}

.block {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stone {
  width: 20px;
  height: 20px;
}