.board {
  display: grid;
  grid-template-columns: repeat(15, 50px);
  margin: auto;
  position: relative;
}

.block {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: darkgoldenrod;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stone {
  width: 36px;
  height: 36px;
}